<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guest.gobal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fijifull"
        android:label="BLAST"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/NoActionBarTheme">
        </activity>
        <activity android:name=".ui.HotelsActivity"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ui.MainActivity" />
        <activity
            android:name=".ui.FlightsActivity"
            android:label="@string/title_activity_flights"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AutosActivity"
            android:label="@string/title_activity_autos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.HotelsListActivity" />
        <activity android:name=".ui.FlightsShowActivity" />
        <activity
            android:name=".ui.HotelDetailActivity"
            android:label="@string/title_activity_hotel_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.SavedHotelListActivity" />
        <activity android:name=".ui.CreateAccountActivity" />
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>