<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guest.gobal">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fijifull"
        android:label="FLIHOTOS"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity"
                  android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HotelsActivity" />
        <activity
            android:name=".ui.FlightsActivity"
            android:label="@string/title_activity_flights"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AutosActivity"
            android:label="@string/title_activity_autos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.HotelsShowActivity" />
        <activity android:name=".ui.FlightsShowActivity"></activity>
    </application>

</manifest>